.ava-text {
    text-align: center;
    line-height: 1.5em;
}
.img-ava {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    width: 100px;
}
.avatar {
    padding-top: 20px;
    padding-bottom: 10px;
}