.ava-text {
    text-align: center;
}
.img-ava {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    width: 100px;
}
.avatar {
    padding-bottom: 10px;
}