$big-bp: 1366px;

aside#outline {
    display: none;
    @media screen and (min-width: $big-bp) {
        display: flex;
    }

    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 4em;
    padding-top: 1em;


    ul, ol {
        margin: 0;
        padding: 0;

        li {
            div {
                margin-top: 2em;
                height: 2em;
                display: flex;
                align-items: center;
                a {
                    transition: font-size 0.2s;
                }
                a.active {
                    font-size: 150%;
                    color: #ffffff;
                }
            }
        }
    }
}