{{ define "main" }}

{{ partial "outline.html" . }}

<section id="socials" name="Socials &amp; Contact">
    <!--<h2><a href="#socials">Socials &amp; Contact ¶</a></h2>-->
    {{ partial "ava.html" . }}
    <ul>
        <li><a target="_blank" title="Linkedin profile" href="https://linkedin.com/in/franciscoaltoe"><i class="fa-brands fa-linkedin cool-link"></i></a></li>
        <li><a target="_blank" title="GitHub profile" href="https://github.com/franciscoda"><i class="fa-brands fa-github cool-link"></i></a></li>
        <li><a target="_blank" title="Email" data-rot-n="26" data-rot-href="h3uDho6JVICMe4h9g419iVp7ho6Jf0h9iYdIe4w="><i class="fa-regular fa-envelope cool-link"></i></a></li>
    </ul>
</section>

<section id="experience" name="Experience">
    <h2><a href="#experience">Experience ¶</a></h2>
    <ul>
        <li>
            <div>
                <h4>JP Morgan Chase & Co. <em>Finance</em></h4>
                <p>Sr. Software Engineer</p>
                <p>Jul. 2023 &mdash; present</p>
            </div>
            <div><img src="img/jpm.jpeg" alt="JP Morgan Chase & Co." /></div>
        </li>
        <li>
            <div>
                <h4>Invertir en Bolsa <em>Algorithmic Trading</em></h4>
                <p>Technical Leader</p>
                <p>Feb. 2022 &mdash; Mar. 2023 (14 months)</p>
            </div>
            <div><img src="img/ieb-black.png" alt="Invertir en Bolsa" style="background-color: #fff" /></div>
        </li>
        <li>
            <div>
                <h4>Ministerio P&uacute;blico Fiscal <em>Government</em></h4>
                <p>Full stack developer</p>
                <p>Jul. 2021 &mdash; Feb. 2022 (8 months)</p>
            </div>
            <div><img src="img/mpf-escudo.png" alt="Ministerio Publico Fiscal" style="background-color: #fff" /></div>
        </li>

        <li>
            <div>
                <h4>Buenbit <em>Fintech</em></h4>
                <p>Technical Leader</p>
                <p>Jan. 2021 &mdash; Jul. 2021 (7 months)</p>
                <p>Full stack developer</p>
                <p>Apr. 2019 &mdash; Jan. 2021 (22 months)</p>
            </div>
            <div><img src="img/buenbit.png" alt="Buenbit" style="background-color: #fff" /></div>
        </li>
    </ul>
</section>

<section id="projects" name="Personal Projects">
    <h2><a href="#projects">Personal Projects ¶</a></h2>
    <ul>
        <li>{{ partial "gh-project.html" (dict "projectName" "FranciscoDA/cv") }}</li>
        <li>{{ partial "gh-project.html" (dict "projectName" "FranciscoDA/ps2mcfs") }}</li>
        {{/* Here we override the project description because the one from the github repo is in spanish */}}
        <li>{{ partial "gh-project.html" (dict "projectName" "FranciscoDA/redatam4r" "projectDescription" "R package that allows directly reading files obtained from latinamerican census databases (REDATAM) and utilize them in your R environment for analysis.") }}</li>
        <li>{{ partial "gh-project.html" (dict "projectName" "FranciscoDA/psvm" ) }}</li>
        <li>{{ partial "gh-project.html" (dict "projectName" "FranciscoDA/coinage" ) }}</li>
        <li>{{ partial "gh-project.html" (dict "projectName" "FranciscoDA/gol" ) }}</li>
        <li>{{ partial "gh-project.html" (dict "projectName" "FranciscoDA/django-ipfields" ) }}</li>
        <li>{{ partial "gh-project.html" (dict "projectName" "FranciscoDA/mutetris" ) }}</li>
        <li>{{ partial "gh-project.html" (dict "projectName" "FranciscoDA/pacman" ) }}</li>
        <li>{{ partial "gh-project.html" (dict "projectName" "FranciscoDA/franciscoda.github.io" "projectDescription" "GitHub pages repository for this website.") }}</li>
    </ul>
</section>

<section id="education" name="Education">
    <h2><a href="#education">Education ¶</a></h2>
    <ul>
        <li>
            <div>
                <h4>Universidad Nacional de Luján</h4>
                <p>Lic. en Sistemas de Información (Bsc.)</p>
                <p>2013 &mdash; 2019. GPA 8.10 / 10.0</p>
                <p>Téc. Programador Universitario (Associate)</p>
                <p>2013 &mdash; 2017</p>
            </div>
            <div><a href="https://www.unlu.edu.ar/" target="_blank" title="Universidad Nacional de Luján website"><img src="img/unlu.png" alt="UNLu" style="background-color: #fff" /></a></div>
        </li>
    </ul>
</section>

{{ end }}
