{{ define "main" }}
{{ partial "ava.html" . }}

<section id="socials">
    <h2>Socials <a href="#socials">¶</a></h2>
    <ul>
        <li><a target="_blank" href="https://linkedin.com/in/franciscoaltoe"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a target="_blank" href="https://github.com/franciscoda"><i class="fa-brands fa-github"></i></a></li>
    </ul>
</section>

<section id="experience">
    <h2>Experience <a href="#experience">¶</a></h2>

    <div class="cventry">
        <div>
            <h4>Invertir en Bolsa <em>Algorithmic Trading</em></h4>
            <p>Tech Lead</p>
            <p>Feb. 2022 &mdash; Mar. 2023 (14 months)</p>
        </div>
        <div style="width: 1em; height: 1em"></div>
        <div>
            <img src="img/ieb-black.png" alt="Invertir en Bolsa" />
        </div>
    </div>

    <div class="cventry">
        <div>
            <h4>Ministerio P&uacute;blico Fiscal <em>Government</em></h4>
            <p>Full stack developer</p>
            <p>Jul. 2021 &mdash; Feb. 2022 (8 months)</p>
        </div>
        <div style="width: 1em; height: 1em"></div>
        <div>
            <img src="img/mpf-escudo.png" alt="Ministerio Publico Fiscal" />
        </div>
    </div>

    <div class="cventry">
        <div>
            <h4>Buenbit <em>Fintech</em></h4>
            <p>Tech Lead</p>
            <p>Jan. 2021 &mdash; Jul. 2021 (7 months)</p>
            <p>Full stack developer</p>
            <p>Apr. 2019 &mdash; Jan. 2021 (22 months)</p>
        </div>
        <div style="width: 1em; height: 1em"></div>
        <div>
            <img src="img/buenbit.png" alt="Buenbit" />
        </div>
    </div>
</section>

<section id="projects">
<h2>Personal Projects <a href="#projects">¶</a></h2>
</section>

<section id="education">
<h2>Education <a href="#education">¶</a></h2>
</section>

<section id="contact">
    <h2>Contact <a href="#contact">¶</a></h2>
    <form id="contact-form" accept-charset="UTF-8" action="https://www.formbackend.com/f/50dcdfd6a975cbb0" target="_blank" method="POST">
        <fieldset>
            <div>
                <label for="contact-name">Your name</label>
                <input type="text" id="contact-name" name="name" placeholder="John Doe">
                <label for="contact-contact">Your contact email</label>
                <input type="text" id="contact-contact" name="contact" placeholder="john@doe.net">
            </div>
            <div></div>
            <div>
                <label for="contact-message">Your message</label>
                <textarea id="contact-message" name="message"></textarea>
            </div>
        </fieldset>
        <div>
            <button onclick="this.form.submit(); this.form.style.display='none'; document.getElementById('contact-thank-you').style.display='block'">Send Message</button>
        </div>
    </form>
    <p id="contact-thank-you" style="display: none">Message sent</p>
</section>
{{ end }}
